name: Update Packages

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  upgrade-packages:
    name: Upgrade packages

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Upgrade packages
        run: npm update

      - name: Commit and create PR
        uses: peter-evans/create-pull-request@v3
        with:
          title: 'build(deps): Upgrade NPM packages (automated)'
          branch: 'build-deps-upgrade-npm-packages-automated'
#         base: 'dependabot/npm_and_yarn/stylelint-config-wikimedia-0.13.0'
          commit-message: 'build(deps): upgrade NPM packages (automated)'
